html {
  position: relative;
  min-height: 100%;
  line-height: unset !important;
}

body {
  margin-bottom: 60px;
  background-image: url("../images/landingpageBg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
body > .container {
  padding: 80px 15px 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.bg {
  background-color: white;
  opacity: 0.7;
}

.product-container {
  margin: 2% 0 10% 0;
}

.product {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 32%;
  margin-right: 13px;
  margin-bottom: 10px;
}

.infoPageUp{
  background-image: url("../images/landingpageBg.jpg");
  height: 100%;
  width: 100%;
}