html {
  position: relative;
  min-height: 100%;
  line-height: unset !important;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-image: url("/public/images/home.png");
}
body > .container {
  padding: 80px 15px 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
 /* Vertically center the text there */
  background-color: #f5f5f5;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.background {
  background-image: url("/public/images/home.png");
}